django>=2.0
django-cors-headers
jinja2
djangorestframework
markdown
django-filter
redis
requests
pymongo
psycopg2-binary
django-choices
django-cacheops
django-excel
pyexcel-xls
pyexcel-xlsx
pyexcel-text
scrapy
scrapy-redis
scrapy-mongodb
scrapy_proxies
fontTools
xlsxwriter
pandas
sqlalchemy
django-admin-rangefilter
django-import-export